Set MaxMeshNumber 1

ReadMesh 1 {{ mesh_file }}

Set MaxEnergyEvaluations {{ model.max_energy_evaluations }}

{{ minimizer }}
Set ExchangeCalculator {{ exchange_calculator }}

{% if model.initial_magnetization.type == "random" %}
Randomize All Moments
{% elif model.initial_magnetization.type == "uniform" %}
Uniform Magnetization {{ model.initial_magnetization.dir_x }} {{ model.initial_magnetization.dir_y }} {{ model.initial_magnetization.dir_z }}
{% elif model.initial_magnetization.type == "model" %}
ReadTecplotZone {{ initial_model_tecplot }} 1
{% endif %}

{%- for material in model.materials %}
{%- if material.k1 is not none or material.k2 is not none or material.k3 is not none or material.k4 is not none or material.k5 is not none or material.k6 is not none or material.k7 is not none or material.k8 is not none or material.k9 is not none or material.k10 is not none or material.aex is not none or material.ms is not none %}
{%- if material.k1 is not none %}
set subdomain {{ material.submesh_id }} k1 {{ material.k1 }}
{% endif %}
{%- if material.k2 is not none %}
set subdomain {{ material.submesh_id }} k2 {{ material.k2 }}
{% endif %}
{%- if material.k3 is not none %}
set subdomain {{ material.submesh_id }} k3 {{ material.k3 }}
{% endif %}
{%- if material.k4 is not none %}
set subdomain {{ material.submesh_id }} k4 {{ material.k4 }}
{% endif %}
{%- if material.k5 is not none %}
set subdomain {{ material.submesh_id }} k5 {{ material.k5 }}
{% endif %}
{%- if material.k6 is not none %}
set subdomain {{ material.submesh_id }} k6 {{ material.k6 }}
{% endif %}
{%- if material.k7 is not none %}
set subdomain {{ material.submesh_id }} k7 {{ material.k7 }}
{% endif %}
{%- if material.k8 is not none %}
set subdomain {{ material.submesh_id }} k8 {{ material.k8 }}
{% endif %}
{%- if material.k9 is not none %}
set subdomain {{ material.submesh_id }} k9 {{ material.k9 }}
{% endif %}
{%- if material.k10 is not none %}
set subdomain {{ material.submesh_id }} k10 {{ material.k10 }}
{% endif %}
{%- if material.aex is not none %}
set subdomain {{ material.submesh_id }} aex {{ material.aex }}
{% endif %}
{%- if material.ms is not none %}
set subdomain {{ material.submesh_id }} ms {{ material.ms }}
{% endif %}
{%- else %}
set subdomain {{ material.submesh_id }} {{ material.name }} {{ material.temperature }}
{% endif %}
{% endfor %}

EnergyLog {{ energy_log_file }}
{% if model.applied_field is not none %}
External Field Strength {{ model.applied_field.strength }} {{ field_unit }}
External Field Direction {{ model.applied_field.dir_x }} {{ model.applied_field.dir_y }} {{ model.applied_field.dir_z}}
{% endif %}

Minimize
WriteMagnetization {{ model_output }}
CloseLogfile

ReportEnergy

End
