#!/bin/bash

#SBATCH --job-name={{unique_id}}

#SBATCH -N {{nodes}} # No. of nodes
#SBATCH -n {{ntasks}} # No. of tasks
#SBATCH -c {{cpus_per_task}} # No. of cores per task

#SBATCH --partition=micromag 
#SBATCH --time={{time}}
#SBATCH --chdir={{working_directory}}

{% if module_source is not none %}
# Source modules
source {{ module_source }}
{% endif %}
# Load modules
export MODULEPATH={{ module_dir }}
{% for module in modules %}
module load {{ module }}
{% endfor %}

# Run model
srun -N 1 m4db-model run {{unique_id}}

